body {
    /*background-image: url(img/examplesvg.svg);*/
    background-size:cover;
    overflow:hidden;
}

#logo {
    width:500px;
    height:200px;
    margin-left:22%;
    padding:20px;
}

.form{
    position:absolute;
    /*background-color:rgb(1, 126, 204);*/
    background-color: rgb(80, 79, 79);
    right:-14px;
    height: 30vh;
    width: 50.75vw;
    margin: 0 25% 0 25%;
    z-index:3;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    display:inline;
    
}

.form input {
    height:50px;
    font-size:20px;
}

.form ul {
    list-style-type: none;
    position:relative;
    bottom:2.5em;
    right:15px;
}

.form ul li {
    display:inline;
    text-decoration:none;
}

.form ul btn {
    background:rgb(216, 107, 18);
    padding:18px;
    
}

.form ul btn a {
    text-decoration: none;
    color:white;
    font-weight:bold;
}

h2{
    text-align:left;
    padding: 25px 0;
    margin: 0 55px;
    color:white;
}

h1 {
    color:white;
    text-align: left;
    position:relative;
    font-weight:lighter;
    bottom:3em;
    left:15em;
    font-size:25px;

}
.preview {
    position:absolute;
    top: 35vh;
    width: 49.7vw;
    height:58.7vh;
    margin: 0 25% 0 25%;
    background-image: url('img/background.svg');
    z-index:1; 
}

#bg2 {
    position:relative;
    left:-10px;
    top:-5px;
    width: 50.8vw;
    height:60.8vh;
    background-image:url('img/background2.svg');
    opacity:0;
}

svg{
    position: absolute;
    margin: 0 25% 0 25%;
    top:35.5%;
    left:10px;
    width: 50.2vw;
    height:60.8vh;
    z-index:1;

}

.paper {
    opacity:0;
}

.note {
    opacity:0;
}
.eggbasket {
    opacity:0;
}

.egg {
    opacity: 0;
}

.basket {
    opacity:0;
}

.rabbit1egg {
    opacity:0;
}

.rabbit2 {
    opacity:0;
}

@font-face {
    font-family: easterFont;
    src: url(fonts/Easter_Joy.ttf);
  }

h3{
    opacity:0;
    font-family:easterFont;
    position:relative;
    top:28rem;
    left:42rem;
    z-index:2;
    transform:rotate(15deg);
    font-size:30px;
    
}

.Bigegg{
    z-index:1;
    
}

.preview {
    padding:10px;
    font-family: Arial;
    letter-spacing: 5px;
    position:absolute;
    left:0;
    
}

form{
    padding:15px;
    height:25%;
    position:relative;
    bottom:10%;
}

form input {
    margin:5px;
}

#title {
    color:white;
    position:relative;
    left:35%;
    top:2%;
    font-size:60px;
   
}

#subtitle {
    position:relative;
    color:white;
    bottom:15%;
    left:40%;
    font-style:italic;
    font-weight:lighter;
}

